/* *{
    margin: 0;
    padding: 0;
} */


#navi {
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 30px 0px 20px 0px;
    position: sticky;
    top: 0;
    background-color: white;

}

#nav {
    padding-top: 20px;
    gap: 30px;
    display: flex;
}

#nav>a {
    font-size: 17px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    list-style: none;

}


#navi img {
    height: 70px;
    width: 80px;
}

#sign {
    padding-left: 20px;

}

#fitness {
    font-weight: bold;
    font-size: 15px;
    border: none;

}

#icon {
    font-size: 28px;
}

#first {
    display: flex;
    justify-content: space-around;

    align-items: center;
    color: white;
    background-color: rgb(37, 179, 192);
}


#first p {
    font-size: 24px;
}

#first button {
    background-color: rgb(39, 36, 36);
    padding: 15px 15px 15px 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}

#main {
    background-color: rgb(219, 187, 224);
    text-align: center;


}

.intro h1 {
    padding-top: 30px;
}

.intro button {
    color: white;
    background-color: rgb(39, 36, 36);
    border-radius: 5px;
    font-weight: bold;
    padding: 15px 15px 15px 15px;

}

#photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 7px;
    text-align: center;
    padding-top: 12px;
}


.pic-1 {
    background-color: rgb(197, 228, 228);

}

.pic-2 {
    background-color: rgb(235, 238, 238);

}

.pic-3 {
    background-color: rgb(13, 12, 12);
    color: white;
}

.pic-4 {
    background-color: rgb(218, 218, 218);

}

#big {
    text-align: center;
    background-color: rgb(241, 250, 253);
}

#big h1 {
    padding-top: 30px;
}

#big img {
    width: 100%;
    height: 70%;
}

#top {
    margin: auto;
    padding-left: 115px;
}

#top p {
    font-size: 20px;
}


#plans {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 6px;
    margin: auto;
    width: 85%;

}

@media screen and (min-width:500px) and (max-width:800px) {
    #plans {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 6px;
        margin: auto;
        width: 100%
    }

    #photo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 7px;
        width: 80%;
        text-align: center;
        padding-top: 12px;
    }

    #first {
        width: 100%;
        align-items: center;
        color: white;
        background-color: rgb(37, 179, 192);
    }

}

#plans img {
    width: 100%;

}

#last {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 30, 52);
    width: 100%;
    height: 600px;
}


#last img {
    height: 130px;
    width: 130px;
    padding-top: 110px;
}

.work {
    color: rgb(136, 132, 132);
}

.first,
.second,
.three {
    color: rgb(136, 132, 132);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px
}

.four p {
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.color {
    color: white;
}

.first,
.second,
.three,
.four:hover {
    cursor: pointer;
}

#media {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 30, 52);
    border-top: 1px solid rgb(144, 141, 141);
    height: 150px;
    align-items: center;

}

.term {
    text-decoration: none;
    list-style: none;
    color: rgb(136, 132, 132);
}

#media p {
    font: 7px;
    color: rgb(110, 106, 106);
}

.social {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    color: white;
    gap: 20px;
}

.social i:hover {
    cursor: pointer;
}

.social i {
    font-size: 25px;

}

.social a {
    text-decoration: none;
    list-style: none;
    color: white;
}